<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">About Me</a></li>
            <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
            <li><a href="{{ site.baseurl }}/resume">Resume</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
        <p>Site Developed by Raymond Zhao &copy; 2022.</p>
      </div>
    </div>
  </div>
</footer>
